/.venv/*
/.idea/*
/Linkori/frontend/node_modules/*
/Linkori/commands
.gitingore
Linkori/frontend/package-lock.json
Linkori/staticfiles/*
Linkori/dist/*
Linkori/certs/*
/Linkori/Linkori/config.py
/Linkori/db.sqlite3
__pycache__/
migrations/
celerybeat-schedule.bak
celerybeat-schedule.dat
celerybeat-schedule.dir