.profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: var(--linkori-black);
    color: var(--linkori-white);
}

.profile-link-button {
    background-color: var(--linkori-lavander);
    color: var(--linkori-white);
    padding: 10px 20px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-family: inherit;
}

.profile-logout-button {
    background-color: var(--linkori-red);
    color: var(--linkori-white);
    padding: 10px 20px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.profile-toLogin-button {
    background-color: var(--linkori-lavander);
    color: var(--linkori-white);
    padding: 10px 20px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.profile-error-message {
    color: var(--linkori-red);
    margin-bottom: 10px;
}